.card{margin-bottom:5px}
.card-header{background-color:#ddddeb!important;height:50px;margin-bottom:5px;}
.card-header:hover {background-color:#7676b8!important; color:white; text-decoration: none!important}
.card-header:hover h5 {color:white!important; text-decoration: none!important}
.card-header:hover .accordionToggle {color:white!important}
.card-link, .card-body .list-group a{text-decoration:none; color:#545487!important;}
.card-link h5 {position: absolute;top:8px}
.card-body{background-color:white!important;color:#545487!important;padding:0.25rem!important}
.card-body .list-group a:hover{color:white;text-decoration: none!important}
.card-body .list-group a:hover .list-group-item{color:white;background-color:#7676b8}
.root-131{background-color:#545487!important}
.root-131:hover{background-color:#7676b8!important}
[data-toggle="collapse"] .accordionToggle:before {  
    position: absolute;
    top:8px;
    right:15px;
    font-size:1rem;
    font-weight:bold;
    color:#fff!important;
    padding:0;
    font-family: "Font Awesome 5 Free"; 
    content: "\f35a";
    transition: .3s transform ease-in-out;
}
  
[data-toggle="collapse"].collapsed .accordionToggle:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f35a";
    transform: rotate(90deg);
}